interactions:
- request:
    body: '{"webhookUrl": "https://www.chmoder.org/hook", "webhookVersion": "v1",
      "secret": "fake_secret", "enabled": "true", "eventTypes": ["invoice.created",
      "invoice.updated"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.strike.me/v1/subscriptions
  response:
    body:
      string: '{"id":"b10dc0dd-ba42-453a-ba77-655fa0461fd6","webhookUrl":"https://www.chmoder.org/hook","webhookVersion":"v1","enabled":true,"created":"2022-11-04T17:40:19.8845476+00:00","eventTypes":["invoice.created","invoice.updated"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.strike.me/v1/subscriptions/b10dc0dd-ba42-453a-ba77-655fa0461fd6
    status:
      code: 201
      message: Created
version: 1
