interactions:
- request:
    body: '{"webhookUrl": "https://www.chmoder.org/hook", "webhookVersion": "v1",
      "secret": "fake_secret", "enabled": "true", "eventTypes": ["invoice.created",
      "invoice.updated"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.strike.me/v1/subscriptions
  response:
    body:
      string: '{"id":"31f96446-2399-486b-b4f6-cfd72ff10824","webhookUrl":"https://www.chmoder.org/hook","webhookVersion":"v1","enabled":true,"created":"2022-11-04T02:53:01.0597828+00:00","eventTypes":["invoice.created","invoice.updated"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.strike.me/v1/subscriptions/31f96446-2399-486b-b4f6-cfd72ff10824
    status:
      code: 201
      message: Created
version: 1
