interactions:
- request:
    body: '{"webhookUrl": "https://www.chmoder.org/hook", "webhookVersion": "v1",
      "secret": "fake_secret", "enabled": true, "eventTypes": ["invoice.created",
      "invoice.updated"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.strike.me/v1/subscriptions
  response:
    body:
      string: '{"id":"0c0e894e-2579-48de-b63e-5b2ac03c7178","webhookUrl":"https://www.chmoder.org/hook","webhookVersion":"v1","enabled":true,"created":"2022-11-05T15:14:37.030408+00:00","eventTypes":["invoice.created","invoice.updated"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.strike.me/v1/subscriptions/0c0e894e-2579-48de-b63e-5b2ac03c7178
    status:
      code: 201
      message: Created
version: 1
