interactions:
- request:
    body: '{"webhookUrl": "https://www.chmoder.org/hook", "webhookVersion": "v1",
      "secret": "fake_secret", "enabled": "true", "eventTypes": ["invoice.created",
      "invoice.updated"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.strike.me/v1/subscriptions
  response:
    body:
      string: '{"id":"33c8fb66-6a76-4ef7-9589-ec560cead97c","webhookUrl":"https://www.chmoder.org/hook","webhookVersion":"v1","enabled":true,"created":"2022-11-04T18:29:55.9039611+00:00","eventTypes":["invoice.created","invoice.updated"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.strike.me/v1/subscriptions/33c8fb66-6a76-4ef7-9589-ec560cead97c
    status:
      code: 201
      message: Created
version: 1
