interactions:
- request:
    body: '{"webhookUrl": "https://www.chmoder.org/hook", "webhookVersion": "v1",
      "secret": "fake_secret", "enabled": "true", "eventTypes": ["invoice.created",
      "invoice.updated"]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.strike.me/v1/subscriptions
  response:
    body:
      string: '{"id":"ef44e311-ec59-467b-8ddf-38784edda1c1","webhookUrl":"https://www.chmoder.org/hook","webhookVersion":"v1","enabled":true,"created":"2022-11-04T20:31:27.6192137+00:00","eventTypes":["invoice.created","invoice.updated"]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.strike.me/v1/subscriptions/ef44e311-ec59-467b-8ddf-38784edda1c1
    status:
      code: 201
      message: Created
version: 1
