interactions:
- request:
    body: '{"correlationId": "fb029397-2f5d-440a-ba56-911a7238eca4", "description":
      "Invoice for order 123", "amount": {"currency": "USD", "amount": "1.00"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.strike.me/v1/invoices
  response:
    body:
      string: '{"invoiceId":"e30fa3dd-27c9-45ae-8ffe-7930b405d62c","amount":{"currency":"USD","amount":"1.00"},"state":"UNPAID","created":"2022-11-04T20:31:25.4769904+00:00","correlationId":"fb029397-2f5d-440a-ba56-911a7238eca4","description":"Invoice
        for order 123","issuerId":"df7666c0-36bf-4ead-bed9-faef9188f96b","receiverId":"df7666c0-36bf-4ead-bed9-faef9188f96b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.strike.me/v1/invoices/e30fa3dd-27c9-45ae-8ffe-7930b405d62c
    status:
      code: 201
      message: Created
version: 1
