interactions:
- request:
    body: '{"correlationId": "f24b02e2-458b-47a4-855d-9e6d9aabf477", "description":
      "Invoice for order 123", "amount": {"currency": "USD", "amount": "1.00"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.strike.me/v1/invoices/handle/chmoder
  response:
    body:
      string: '{"invoiceId":"9d39c900-9da4-4460-9f0c-bab2ac9a6c77","amount":{"currency":"USD","amount":"1.00"},"state":"UNPAID","created":"2022-11-05T14:40:46.4011766+00:00","correlationId":"f24b02e2-458b-47a4-855d-9e6d9aabf477","description":"Invoice
        for order 123","issuerId":"df7666c0-36bf-4ead-bed9-faef9188f96b","receiverId":"df7666c0-36bf-4ead-bed9-faef9188f96b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.strike.me/v1/invoices/9d39c900-9da4-4460-9f0c-bab2ac9a6c77
    status:
      code: 201
      message: Created
version: 1
