interactions:
- request:
    body: '{"correlationId": "592d101c-7eb5-4560-b88f-924e80aa05e2", "description":
      "Invoice for order 123", "amount": {"currency": "USD", "amount": "1.00"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.strike.me/v1/invoices
  response:
    body:
      string: '{"invoiceId":"c9454470-76d3-4e75-928d-dc07480e01ba","amount":{"currency":"USD","amount":"1.00"},"state":"UNPAID","created":"2022-11-05T15:14:35.0831438+00:00","correlationId":"592d101c-7eb5-4560-b88f-924e80aa05e2","description":"Invoice
        for order 123","issuerId":"df7666c0-36bf-4ead-bed9-faef9188f96b","receiverId":"df7666c0-36bf-4ead-bed9-faef9188f96b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.strike.me/v1/invoices/c9454470-76d3-4e75-928d-dc07480e01ba
    status:
      code: 201
      message: Created
version: 1
