interactions:
- request:
    body: '{"correlationId": "93128847-572d-4c2f-a5b6-f2876e171772", "description":
      "Invoice for order 123", "amount": {"currency": "USD", "amount": "1.00"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.strike.me/v1/invoices/handle/chmoder
  response:
    body:
      string: '{"invoiceId":"2ca9fcc1-706d-4581-8c65-d1927e2e867d","amount":{"currency":"USD","amount":"1.00"},"state":"UNPAID","created":"2022-11-04T18:29:54.1141909+00:00","correlationId":"93128847-572d-4c2f-a5b6-f2876e171772","description":"Invoice
        for order 123","issuerId":"df7666c0-36bf-4ead-bed9-faef9188f96b","receiverId":"df7666c0-36bf-4ead-bed9-faef9188f96b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.strike.me/v1/invoices/2ca9fcc1-706d-4581-8c65-d1927e2e867d
    status:
      code: 201
      message: Created
version: 1
