interactions:
- request:
    body: '{"correlationId": "8c0a978e-ace2-4105-81df-14269b983e43", "description":
      "Invoice for order 123", "amount": {"currency": "USD", "amount": "1.00"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.strike.me/v1/invoices/handle/chmoder
  response:
    body:
      string: '{"invoiceId":"23bf3150-3889-4852-b712-a9059af97d9f","amount":{"currency":"USD","amount":"1.00"},"state":"UNPAID","created":"2022-11-04T20:31:25.9052666+00:00","correlationId":"8c0a978e-ace2-4105-81df-14269b983e43","description":"Invoice
        for order 123","issuerId":"df7666c0-36bf-4ead-bed9-faef9188f96b","receiverId":"df7666c0-36bf-4ead-bed9-faef9188f96b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.strike.me/v1/invoices/23bf3150-3889-4852-b712-a9059af97d9f
    status:
      code: 201
      message: Created
version: 1
