interactions:
- request:
    body: '{"correlationId": "eacc9be4-5079-4420-a846-0297c4532ecb", "description":
      "Invoice for order 123", "amount": {"currency": "USD", "amount": "1.00"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.strike.me/v1/invoices
  response:
    body:
      string: '{"invoiceId":"1a4d7cc8-babe-43ff-8165-c6225b9f4c72","amount":{"currency":"USD","amount":"1.00"},"state":"UNPAID","created":"2022-11-04T18:29:53.5949854+00:00","correlationId":"eacc9be4-5079-4420-a846-0297c4532ecb","description":"Invoice
        for order 123","issuerId":"df7666c0-36bf-4ead-bed9-faef9188f96b","receiverId":"df7666c0-36bf-4ead-bed9-faef9188f96b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.strike.me/v1/invoices/1a4d7cc8-babe-43ff-8165-c6225b9f4c72
    status:
      code: 201
      message: Created
version: 1
