interactions:
- request:
    body: '{"correlationId": "2b1feb1c-4ed2-485c-9ef3-a2434c5463a9", "description":
      "Invoice for order 123", "amount": {"currency": "USD", "amount": "1.00"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.strike.me/v1/invoices
  response:
    body:
      string: '{"invoiceId":"5439b0c5-31cf-4f35-85b6-f18da629f8ec","amount":{"currency":"USD","amount":"1.00"},"state":"UNPAID","created":"2022-11-05T14:40:46.0431903+00:00","correlationId":"2b1feb1c-4ed2-485c-9ef3-a2434c5463a9","description":"Invoice
        for order 123","issuerId":"df7666c0-36bf-4ead-bed9-faef9188f96b","receiverId":"df7666c0-36bf-4ead-bed9-faef9188f96b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.strike.me/v1/invoices/5439b0c5-31cf-4f35-85b6-f18da629f8ec
    status:
      code: 201
      message: Created
version: 1
