interactions:
- request:
    body: '{"correlationId": "d38e6c30-2362-4043-bb45-a9813bbff663", "description":
      "Invoice for order 123", "amount": {"currency": "USD", "amount": "1.00"}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.strike.me/v1/invoices/handle/chmoder
  response:
    body:
      string: '{"invoiceId":"ed34d89e-0025-4e70-8296-73cdedb508f1","amount":{"currency":"USD","amount":"1.00"},"state":"UNPAID","created":"2022-11-05T15:14:35.5054944+00:00","correlationId":"d38e6c30-2362-4043-bb45-a9813bbff663","description":"Invoice
        for order 123","issuerId":"df7666c0-36bf-4ead-bed9-faef9188f96b","receiverId":"df7666c0-36bf-4ead-bed9-faef9188f96b"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Location:
      - https://api.strike.me/v1/invoices/ed34d89e-0025-4e70-8296-73cdedb508f1
    status:
      code: 201
      message: Created
version: 1
